@{
    ViewData["Title"] = "Home Page";
}
<div class="h1 shadow-lg p-3 mb-5 bg-body-tertiary rounded" id="homeHeader">
    <h1>Welcome to Cam's Consoles</h1>
    </div>

<div class="card text-bg-primary mb-3 shadow-lg p-3 mb-5 bg-body-tertiary rounded" style="max-width: 18rem;">
    <div class="card-header">About Cam's Consoles</div>
    <div class="card-body">
        <p class="card-text">Cam's Consoles has been owned and operated by Cameron W since 2028. If this company was actually real and Cameron did run it, he'd insure the service would be great, and the prices even better. All the newest consoles/games would be in stock and he'd even give fair trade in deals unlike, other companies...'</p>
    </div>
</div>

<div class="h1 shadow-lg p-3 mb-5 bg-body-tertiary rounded" id="homeHeader">
    <h1>Inventory</h1>
</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Product</th>
            <th scope="col">Price</th>
            <th scope="col">In Stock</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Xbox One S</td>
            <td>Free</td>
            <td>0</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Logitech G920 Keyboard</td>
            <td>Free</td>
            <td>0</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Baldur's Gate Steam Key</td>
            <td>Free</td>
            <td>0</td>
        </tr>
    </tbody>
</table>